@charset "utf-8";

/* # General Elements
---------------------------------------------------------------------------- */

*{
	box-sizing: border-box;
}

html {
	color: #f9f9f9;
}

/* # body
---------------------------------------------------------------------------- */

body{
	margin: 0;
}

.space {
	height: 1000px;
	background: #52b3d9;
}

h1 {
	margin: 0;
	text-align: center;
}

/* # target
---------------------------------------------------------------------------- */
#target {
	background: #f9f9f9;
  zoom: 1;
}

#target:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

.wrap {
	width: 33.33%;
	float: left;
}

object {
	padding: 20px;
}
